*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --main-radius: 5px;
    --main-border: 1px solid #dee2e6;
    --main-color: #d2691e;
    --main-text-color: #6e6e6e;;
  }

.container-extra{
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: var(--main-border);
    border-radius: var(--main-radius);
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

h1{
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: var(--main-radius);
    letter-spacing: 0.03em;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/********** NAVIGATION TABS **********/
.nav-link{
    color: var(--main-text-color);
}

.nav-link:hover{
    color: var(--main-color);
}

.nav-link.active{
    color: var(--main-color)!important;
    font-weight: bold;
}

/********** TAB CONTENT **********/
.activity{
    border: var(--main-border);
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: var(--main-radius);
    color: var(--main-text-color);
}

.form-select{
    width: auto;
    color: var(--main-text-color);
    margin-bottom: 1rem;
    font-size: 0.8rem;
    display: inline;
    border: var(--main-border);
}

label{
    font-size: 0.8rem;
}

.time-input{
    border: var(--main-border);
    border-radius: var(--main-radius);
    color: var(--main-text-color);
    font-size: 0.8rem;
    margin-right: 3rem;
    padding: .375rem .75rem;
}

.form-select:focus,
.time-input:focus{
    outline: none;
    box-shadow: none;
    border: 1.5px solid var(--main-color);
}

.btn-style{
    background-color: var(--main-color);
    color: white;
}

.nxt-prv-buttons{
    display: flex;
    justify-content: space-between;

}

th, td{
    color: var(--main-text-color);
    font-size: smaller;
}